tempHome {
    background: #FFFDFA;
}

logo {
    position: absolute;
    width: 50%;
    left: calc(50% - 509px/2 + 0.5px);
    top: 257px;
}

underConst {

}

contact {

}

article {
    visibility: hidden;
}